{% extends 'layout.html' %}

{% block container %}
<div class="row" >
    <div class="col" style="text-align:center">
        <div class="row"></div>
        <div class="row"></div>
        
        <span class="align-top"><b>CONTACT US:</b><br></span>
        <br>
    
        <span class="align-middle">ICT Academy of Kerala,<br>
             Module No.L-9,Thejaswini Building, Technopark,Trivandrum.<br>
             Telephone: +91 471 2700 811 ,<br>
             Fax: +91 471 2700 812 <br>
             Email: info@ictkerala.org
        </span>
    </div>
</div>
{% endblock %}