{% extends 'layout.html' %}
{% block container %}

<div class="row">
    <div class="col" style="background: rgb(138, 59, 108);color: white;margin:1%">
        <h3>IT</h3><br>
        <b>Data Analytics Using R</b><br>
        <p>The topics covered are: Data Mining Overview Introduction to Data Science Why Big Data? Introduction to R: An overview and features of R programming system. R environment Basic Data Structures Data types Introduction to R Studio Working with Real Data Vector operations Conditionals: using “if” and “else” statements in R Basic Plotting R Graphics Manipulating</p>
        <hr>
        <b>Software Testing</b><br>
        <p>This course is designed to impart training on the steps involved in the process of Software Testing like clear understanding of requirements, designing appropriate test cases, manual execution of test cases and test automation. It covers the latest tools available and the best practices in the industry.</p><br>
        <hr>
        <b>IoT For Engineering Applications</b><br>
        <p>Agenda Introduction to FOSS OSH and Choosing the right Platform Introduction to IOT Sensors, Actuators, Processing and Communication Group Discussion different IoT Scenarios Introduction to Arduino Boards and its types Hands-On with Arduino IDE GPIO Interfacing in Arduino Demo Projects – Arduino,o LED Blinking Do –It–Yourself Projects – Arduino LED ON/OFF using push button Interfacing </p><br>
        <hr>
        <b>Android Application Development</b><br>
        <p>This course enables the participants to get thorough knowledge in Android Application Development using Java Programming and Eclipse Integrated Development Environment. With adequate theory and practical classes, this course aims at making the participants confident enough to create android applications on their own. </p><br>
            
    </div>

</div>
<div class="row">
    <div class="col" style="background: rgb(138, 59, 108);color: white;margin:1%">
            <h3>Student Orientation</h3><br>
            <b>Explore</b><br>
            <p>It’s a Student Orientation Program and is intended for students in their initial period of their college education. This program aims at helping the participants to have a smooth transition from School to College and provides them with a holistic view about setting their own expectations about engineering education.</p>
            <hr>
            <b>Enable</b><br>
            <p>It’s a pre-placement programme and aims at providing the participants with adequate experience in key areas like communication Skills, Interpersonal skills, Resume writing, Group Discussion and Interview Techniques. It also covers the latest trends in Information Technology (IT), basic IT concepts, quality standards in IT industry and an Aptitude test.</p>
                    
    </div>
</div>
<div class="row">
    <div class="col" style="background: rgb(138, 59, 108);color: white;margin:1%">
        <h3>Faculty Development</h3><br>
        <b>Concept Coaching</b><br>
        <p>It’s a Faculty Development Program (FDP) and aims at unlocking the inherent potential of faculty members and fine tuning with the modern approaches and methods in teaching. It’s an ideal course for the faculty members and helps them face challenges in teaching and provides customized interventional solutions.</p>
    </div>
</div>

{% endblock %}
