{% extends 'layout.html' %}
{% block container %}



<p>
        ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala and improve their employability opportunities in the Industry. The Company is supported by Govt. of India , partnered by Govt. of Kerala and the ICT industry.
</p>
<h5>Vision</h5>
<p>
        To emerge as the single-point establishment for all the ICT related capability building in the State.
</p>
<h5>Our Key Focus Areas</h5>
<ul>
    <li>(a) Industry focused enablement programs for Faculty members</li>
    <li>(b) Industry focused ICT Skills development program for Students</li>
    <li>(c) Industry collaborated Research and Projects assistance to academic institutions</li>
    <li>(d) Project assignments related to capability building for Institutions and Corporate</li>
    <li>(e) Creating Intellectual Property on niche skill areas and emerging technologies</li>
</ul>
{% endblock %}
